body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/03/Forest_pic_38.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}